@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 20% 96%;
    --foreground: 224 71.4% 4.1%;
    --card: 240 10% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 240 10% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 222 47% 11%;
    --primary-darker: 222 47% 9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 43.1%;
    --accent: 220 20% 90%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 142 71% 45%;
    --chart-1: 200 60% 35%;
    --chart-2: 30 100% 60%;
    --chart-3: 0 80% 65%;
    --chart-4: 300 70% 60%;
    --chart-5: 260 70% 60%;


    --header-top-background: hsl(145, 63%, 32%);
    --header-primary-background: hsl(145, 55%, 42%);
    --header-foreground: hsl(0, 0%, 100%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
